.App {
  text-align: center;
}

.grid-container {
  display: flex;
  /* width: 80%; */
  margin: auto;
  justify-content: center;
}

.grid-column:hover {
  /* flex-grow: 1; */
  background-color: rgb(202, 202, 202, 0.2);
}

.grid-cell {
  padding: 30px;
  border: 1px solid rgb(202, 202, 202);
}
